<div class="container">
    <h2>Ajouter un Candidat</h2>
    <form [formGroup]="candidatForm" (ngSubmit)="onSubmit()">
  
        <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" formControlName="nom" />
        <div *ngIf="candidatForm.get('nom').invalid && candidatForm.get('nom').touched" class="text-danger">
          Nom*
        </div>
      </div>
  
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input  type="text"  class="form-control"  id="prenom"  formControlName="prenom"/>
        <div *ngIf="candidatForm.get('prenom').invalid && candidatForm.get('prenom').touched" class="text-danger">
          Prénom*
        </div>
      </div>
  
      <div class="form-group">
        <label for="cin">CIN</label>
        <input type="text" class="form-control" id="cin" formControlName="cin"/>
        <div *ngIf="candidatForm.get('cin').invalid && candidatForm.get('cin').touched" class="text-danger">
          CIN contient 8 chiffres
        </div>
      </div>
  
      <div class="form-group">
        <label for="date_naissance">Date de Naissance</label>
        <input  type="date"  class="form-control"  id="date_naissance"  formControlName="date_naissance" />
        <div *ngIf="candidatForm.get('date_naissance').invalid && candidatForm.get('date_naissance').touched" class="text-danger">
          Date de naissance*
        </div>
      </div>
 
      <div class="form-group">
        <label for="programe">Programme</label>
        <textarea class="form-control" id="programme" formControlName="programe"></textarea>
        <div *ngIf="candidatForm.get('programe').invalid && candidatForm.get('programe').touched" class="text-danger">
           Programme*
        </div>
      </div>
  
     
  
      <button type="submit" class="btn btn-primary" [disabled]="candidatForm.invalid">Enregistrer</button>
    </form>
  </div>
  