<div class="main_container">
<div class="container-xl">
	<button class="btn btn-outline-success" (click)="logout()">Logout</button>
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Gérer <b>les Candidats</b></h2>
					</div>
					<div class="col-sm-6">
						<a class="btn btn-success" (click)="openAdd()" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter candidat</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
                        <th>CIN</th>
						<th>Nom</th>
						<th>Prenom</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let c of candidats">
                        <td>{{c.cin}}</td>
						<td>{{c.nom}}</td>
						<td>{{c.prenom}}</td>
						
						<td>
							<a class="edit" data-toggle="modal" (click)="openEdit(c)"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a class="delete" data-toggle="modal" (click)="deleteCandidat(c)"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>
				
				
								
				</tbody>
			</table>
		</div>
	</div>        
</div>
</div>

