    <div id="xx">
      <div class="main">
        <p class="sign" align="center">Register to Electini</p>
        <!-- Use ngModel to bind fields to the form -->
        <form class="form1" (ngSubmit)="register()">
          <input class="pass" type="text" placeholder="First Name" [(ngModel)]="prenom" name="prenom" required>
          <input class="pass" type="text" placeholder="Last Name" [(ngModel)]="nom" name="nom" required>
          <input class="pass" type="text" placeholder="CIN" [(ngModel)]="cin" name="cin" required>
          <input class="pass" type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          <input class="pass" type="date" placeholder="Date of Birth" [(ngModel)]="date_naissance" name="date_naissance" required>
          <button class="submit" type="submit">Register</button>
          <p class="forgot" align="center">
            <a style="color: black;" routerLink="login">Already have an account? </a>
          </p>
        </form>
      </div>
      <div id="slogan"></div>
    </div>
  