<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" *ngIf="candidat">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{candidat.nom}} {{candidat.prenom}}</h3>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src=""  class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Programme</h4>
                    <p>{{candidat.programe}}</p>

                    <ul class="list-unstyled">
                      <li><i class="fa fa-check text-success"></i>{{candidat.date_naissance | date:"dd/MM/YYYY"}}</li>
                  </ul>
                   
                    <button
                    class="btn btn-dark btn-rounded mr-1"
                    (click)="addToFavorites(candidat._id)"
                    *ngIf="!isFavorited"
                  >
                    Add to Favorites
                  </button>
                  
                  <button
                    class="btn btn-dark btn-rounded mr-1"
                    disabled="true"
                    *ngIf="isFavorited"
                  >
                    Déjà en favoris
                  </button>
                    
                 
                    <button class="btn btn-primary btn-rounded" (click)="vote(candidat._id)" [disabled]="user.voted">vote</button>
                    
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="box-title mt-5">Commentaires</h3>
                    <div class="content-item" id="comments">
                        <div class="container">   
                            <div class="row">
                                <div class="col-sm-12">   
                                    <form [formGroup]="commentForm" (ngSubmit)="ajouterCommentaire()">
                                        <button type="submit" class="btn btn-normal pull-right" [disabled]="commentForm.invalid">Submit</button>
                                        <fieldset>
                                            <div class="row">
                                               
                                                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                                    <textarea class="form-control" id="message" placeholder="Aa..." required="" formControlName="message"></textarea>
                                                </div>
                                            </div>  	
                                        </fieldset>
                                    </form>
                                    
                                    <h3>{{candidat.comments.length}} Commentaires</h3>                                  
                                    <div class="media" *ngFor="let comment of candidat.comments">
                                        <div class="media-body" style="display: flex; justify-content: space-between; align-items: center;">
                                          <div>
                                            <h4 class="media-heading">{{comment.user.nom | titlecase}} {{comment.user.prenom | titlecase}}</h4>
                                            <p>{{comment.message}}</p>
                                            <ul class="list-unstyled list-inline media-detail pull-left">
                                              <li><i class="fa fa-calendar"></i>{{comment.createdAt | date: 'dd/MM/yyyy' }}</li>   
                                            </ul>
                                          </div>
                                      
                                          <div *ngIf="comment.user._id?.toString() === userId">
                                            <button  class="btn btn-sm" style="border-radius: 50%;" (click)="deleteComment(comment._id)">
                                              <i class="fa fa-trash"></i>
                                            </button>
                                          </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>