
<h1 style="text-align: center;font-family: 'Times New Roman', Times, serif;">Voici votre liste de favoris !</h1>

<div *ngFor="let c of tab" class="card-container">
    <div class="card" style="width: 18rem; margin: 20px;">
      <img class="card-img-top" src="assets/image.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{c.nom}}</h5>
        <p class="card-text">{{c.programe}}</p>
        <a  class="btn btn-primary" (click)="editFavorites(c._id)">remove !</a>
        <a class="btn btn-primary" (click)="check(c._id)">voir plus !</a>
      </div>
    </div>
  </div>
  