<nav class="navbar navbar-expand-lg border-bottom border-body bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" >Electini</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="liste">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="favoris">Favoris</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Nombres</a>
          </li>
        </ul>
        
          
          <button class="btn btn-outline-success" (click)="logout()">Logout</button>
        
      </div>
    </div>
  </nav>